Ayu1/backend/.air.toml
Ayu1/backend/.env
Ayu1/tmp
Ayu1/db.env
Ayu2/python/backend/__pycache__
Ayu2/python/backend/routes/__pycache__
Ayu2/javascript/Nodejs/node_modules
Ayu2/javascript/ServerJS/node_modules
Ayu6/python/api/__pycache__
Ayu6/python/api-blocked/__pycache__
Ayu6/python/api-blocked/db/__pycache__
Ayu6/python/bitnami
